.InputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.InputLabel {
  font-size: calc(var(--fz) * 0.875);
  font-weight: 700;
}

.Input {
  font: inherit;
  padding: calc(var(--lh) / 6) calc(var(--lh) / 3);
  border: none;
  outline: 1px solid #fed7aa;
  border-radius: var(--radius);
  outline-offset: 0px;
}

.Input:focus {
  outline: 1px solid #ea580c;
}

@keyframes Pop {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.InputToggleButton {
  background-color: transparent;
  border: none;
  position: absolute;
  inset-block-start: calc(var(--lh) + (var(--lh) / 6));
  inset-inline-end: calc(var(--lh) / 6);
  width: var(--lh);
  height: var(--lh);
  cursor: pointer;
  padding: 2px;
}

.InputToggleButton:hover {
  animation: Pop 0.15s ease-in-out;
}

.InputToggleIcon {
  stroke: #a3a3a3;
}

.InputToggleButton:hover .InputToggleIcon {
  stroke: var(--color-link);
}

.InputManual {
  margin-block-start: calc(var(--lh) / 2);
  font-size: calc(var(--fz) * 0.875);
  color: #7c2d12;
}

.InputManualClosed {
  display: none;
}

.InputManualList {
  list-style: none;
  margin-block-end: calc(var(--lh) / 2);
}

.InputManualCode {
  background-color: #fae4c7;
  border-radius: var(--radius);
  padding: 2px 5px;
}

.InputManualListItem {
}
