.App {
  display: flex;
  flex-direction: column;
  gap: var(--lh);
  padding: var(--lh);
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

.AppHeader {
}

.AppLogo {
  font-family: "Fira Code VF";
  font-weight: 700;
  color: inherit;
  font-size: calc(var(--fz) * 1.25);
  text-decoration: none;
}

.AppMain {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr, auto;
  gap: calc(var(--lh) / 2);
}

@media (min-width: 768px) {
  .AppMain {
    grid-template-rows: none;
    grid-template-columns: repeat(2, 50%);
  }
}

.AppEditor {
  display: flex;
  flex-direction: column;
  gap: calc(var(--lh) / 2);
}

.AppResult {
  background-color: #fafaf9;
  box-shadow: 0 0 0 1px #e7e5e4;
  border-radius: var(--radius);
}

.AppTabs {
  display: flex;
  background-color: #e7e5e4;
  gap: 1px;
  border-radius: var(--radius) var(--radius) 0 0;
  overflow: hidden;
}

.AppTab {
  flex-grow: 1;
  padding: calc(var(--lh) * 0.75) var(--lh);
  border: none;
  background-color: #fafaf9;
  overflow: hidden;
  box-shadow: inset 0 -1px 0 0 #e7e5e4;
  cursor: pointer;
  font: inherit;
  font-family: "Fira Code VF";
  font-weight: 450;
  color: var(--color-foreground-light);
  font-size: calc(var(--fz) * 0.9375);
}

.AppTab:not(.AppTabActive):hover {
  color: var(--color-foreground);
  background-color: #fff;
}

.AppTabActive {
  box-shadow: none;
  color: var(--color-foreground);
}

.AppOutput {
  display: block;
  padding: var(--lh);
  overflow: hidden;
}

.AppOutputCode {
  display: block;
  overflow: auto;
}

.AppFooter {
  font-size: calc(var(--fz) * 0.875);
}
