.Section {
  position: relative;
  background-color: #ffedd5;
  padding: var(--lh);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: calc(var(--lh) / 2);
  box-shadow: 0 0 0 1px #fed7aa;
}

.SectionTitle {
  font-size: var(--fz);
  font-weight: 800;
}

.SectionToggleButton {
  background-color: transparent;
  border: none;
  position: absolute;
  inset-block-start: var(--lh);
  inset-inline-end: var(--lh);
  width: var(--lh);
  height: var(--lh);
  cursor: pointer;
}

@keyframes Pop {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.SectionToggleButton:hover {
  animation: Pop 0.15s ease-in-out;
}

.SectionToggleIcon {
  stroke: var(--color-link);
}

.SectionContent {
  display: flex;
  flex-direction: column;
  gap: calc(var(--lh) / 2);
}

.SectionContentClosed {
  display: none;
}
